body{
    margin: 0px;
}
.e1_3 { 
  color:rgba(255, 255, 255, 1);
  width:815px;
  height:175px;
  position:absolute;
  left:552px;
  top:449px;
  font-family:Alfa Slab One;
  text-align:center;
  font-size:128px;
  letter-spacing:0;
}
.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 4302px;
  margin: 0 auto;
  background: #0e0e0e;
  overflow: hidden;
}
.auto-layer-row-a {
  position: relative;
  width: 1177px;
  height: 16px;
  margin: 14px 0 0 27px;
  z-index: 21;
}
.quote {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 343px;
  height: 16px;
  top: 0;
  left: 0;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  line-height: 15.928px;
  text-align: center;
  white-space: nowrap;
  z-index: 18;
}
.in-class {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 38px;
  height: 16px;
  top: 0;
  left: 640px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  line-height: 15.928px;
  text-align: center;
  white-space: nowrap;
  z-index: 19;
}
.about-me {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 50px;
  height: 16px;
  top: 0;
  left: 883px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  line-height: 15.928px;
  text-align: center;
  white-space: nowrap;
  z-index: 20;
}
.contents {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 45px;
  height: 16px;
  top: 0;
  left: 1132px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  line-height: 15.928px;
  text-align: center;
  white-space: nowrap;
  z-index: 21;
}
.rectangle {
  position: relative;
  width: 1920px;
  height: 0.4px;
  margin: 9px 0 0 0;
  background: rgba(217, 217, 217, 0.46);
  z-index: 24;
}
.jiwook {
  position: relative;
  width: 1315px;
  height: 532px;
  margin: 255.6px 0 0 316px;
  background: url(img2/jiwook.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
}
.digital-media-design {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 189px;
  height: 29px;
  top: 306px;
  left: 236px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.96px;
  text-align: center;
  white-space: nowrap;
  z-index: 41;
}
.kaywon-university {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 174px;
  height: 29px;
  top: 306px;
  left: 877px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.96px;
  text-align: center;
  white-space: nowrap;
  z-index: 42;
}
.auto-layer-row-eae {
  position: relative;
  width: 1920px;
  height: 4447px;
  margin: 92px 0 0 0;
  z-index: 56;
}
.j-x {
  position: absolute;
  width: 1742px;
  height: 2725px;
  top: 0;
  left: 178px;
  background: url(img2/j.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.auto-layer-row-e {
  position: relative;
  width: 1114px;
  height: 19px;
  margin: 137px 0 0 225px;
  z-index: 38;
}
.web {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 27px;
  height: 19px;
  top: 0;
  left: 0;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 13px;
  font-weight: 350;
  line-height: 18.824px;
  text-align: center;
  white-space: nowrap;
  z-index: 17;
}
.publishing {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 64px;
  height: 19px;
  top: 0;
  left: 361px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 13px;
  font-weight: 350;
  line-height: 18.824px;
  text-align: center;
  white-space: nowrap;
  z-index: 38;
}
.final {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 19px;
  top: 0;
  left: 721px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 13px;
  font-weight: 350;
  line-height: 18.824px;
  text-align: center;
  white-space: nowrap;
  z-index: 15;
}
.tasks {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 33px;
  height: 19px;
  top: 0;
  left: 1081px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 13px;
  font-weight: 350;
  line-height: 18.824px;
  text-align: center;
  white-space: nowrap;
  z-index: 16;
}
.auto-layer-row-abb {
  position: relative;
  width: 1188px;
  height: 541px;
  margin: 191px 0 0 184px;
  z-index: 37;
}
.kim-ji-wook {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 332px;
  height: 66px;
  top: 0;
  left: 8px;
  font-family: Alfa Slab One, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  line-height: 65.712px;
  text-align: center;
  white-space: nowrap;
  z-index: 37;
}
.img {
  position: absolute;
  width: 355px;
  height: 474px;
  top: 33px;
  left: 833px;
  background: url(img2/IMG_3049.jpg)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.a-picture-of {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 66px;
  left: 648px;
  font-family: Architects Daughter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.text-d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 540px;
  height: 40px;
  top: 115px;
  left: 8px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20.272px;
  text-align: left;
  z-index: 12;
}
.skills {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 117px;
  height: 55px;
  top: 296px;
  left: 7px;
  font-family: Alfa Slab One, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  line-height: 54.76px;
  text-align: center;
  white-space: nowrap;
  z-index: 25;
}
.contact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 166px;
  height: 55px;
  top: 296px;
  left: 367px;
  font-family: Alfa Slab One, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  line-height: 54.76px;
  text-align: center;
  white-space: nowrap;
  z-index: 28;
}
.adobe-illustrator-macos-bigsur-icon {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 380px;
  left: 0;
  background: url(img2/i1.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
}
.figma-macos-bigsur-icon {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 380px;
  left: 188px;
  background: url(img2/i4.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.section {
  position: absolute;
  width: 256px;
  height: 29px;
  top: 380px;
  left: 368px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.168px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 33;
}
.text-10 {
  position: relative;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.text-11 {
  position: relative;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.168px;
  text-align: left;
}
.psd-file-design {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 381px;
  left: 95px;
  background: url(img2/i2.png)
    no-repeat center;
  background-size: cover;
  z-index: 32;
}
.div-email {
  position: absolute;
  width: 256px;
  height: 29px;
  top: 403px;
  left: 368px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.168px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 34;
}
.span-email {
  position: relative;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.span-space {
  position: relative;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.168px;
  text-align: left;
}
.span-email-1 {
  position: relative;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.168px;
  text-align: left;
}
.div-blender-alt-macos-bigsur-icon {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 463px;
  left: 0;
  background: url(img2/i3.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
}
.div-microsoft-powerpoint-macos-bigsur-icon {
  position: absolute;
  width: 79px;
  height: 78px;
  top: 463px;
  left: 93px;
  background: url(img2/i5.png)
    no-repeat center;
  background-size: cover;
  z-index: 31;
}
.span-birth-year {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 517px;
  left: 834px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.span-education {
  display: block;
  position: relative;
  height: 20px;
  margin: -3px 0 0 1017px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.span-instagram-id {
  display: block;
  position: relative;
  height: 20px;
  margin: 1px 0 0 1017px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.span-blood-type {
  display: block;
  position: relative;
  height: 20px;
  margin: 1px 0 0 1017px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.div-auto-layer-row {
  position: relative;
  width: 907px;
  height: 64px;
  margin: 1px 0 0 192px;
  z-index: 26;
}
.span-mbti {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 0;
  left: 825px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.span-motto {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 133px;
  height: 55px;
  top: 9px;
  left: 0;
  font-family: Alfa Slab One, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  line-height: 54.76px;
  text-align: center;
  white-space: nowrap;
  z-index: 26;
}
.span-value-experience {
  display: block;
  position: relative;
  height: 20px;
  margin: 7px 0 0 192px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.span-value-experience-korean {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 465px;
  height: 40px;
  margin: 7px 0 0 192px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 20.272px;
  text-align: left;
  z-index: 13;
}
.works {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 175px;
  height: 68px;
  margin: 320px 0 0 191px;
  font-family: Alfa Slab One, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 50px;
  font-weight: 400;
  line-height: 68px;
  text-align: center;
  white-space: nowrap;
  z-index: 27;
}
.figma-web-design {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 180px;
  height: 29px;
  margin: 73px 0 0 192px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 28.96px;
  text-align: center;
  white-space: nowrap;
  z-index: 9;
}
.auto-layer-row-ed {
  position: relative;
  width: 1060px;
  height: 202px;
  margin: 7px 0 0 192px;
  z-index: 48;
}
.screenshot-oh {
  position: absolute;
  width: 340px;
  height: 202px;
  top: 0;
  left: 0;
  background: url(img2/s1.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.ftguhjk {
  position: absolute;
  width: 179px;
  height: 202px;
  top: 0;
  left: 360px;
  background: url(img2/ftguhjk.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
}
.fsvvv {
  position: absolute;
  width: 161px;
  height: 202px;
  top: 0;
  left: 539px;
  background: url(img2/fsvvv.png)
    no-repeat center;
  background-size: cover;
  border-left: 1px solid #000000;
  z-index: 48;
}
.screenshot-oh-2 {
  position: absolute;
  width: 340px;
  height: 202px;
  top: 0;
  left: 720px;
  background: url(img2/s3.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
}
.video-motion-graphics {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 239px;
  height: 29px;
  margin: 121px 0 0 192px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 28.96px;
  text-align: center;
  white-space: nowrap;
  z-index: 44;
}
.auto-layer-row-bb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1060px;
  height: 202px;
  margin: 2px 0 0 192px;
  z-index: 51;
}
.screenshot-oh-3 {
  flex-shrink: 0;
  position: relative;
  width: 340px;
  height: 202px;
  background: url(img2/s4.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
}
.screenshot-oh-4 {
  flex-shrink: 0;
  position: relative;
  width: 340px;
  height: 202px;
  background: url(img2/s5.png)
    no-repeat center;
  background-size: cover;
  z-index: 49;
}
.screenshot-oh-5 {
  flex-shrink: 0;
  position: relative;
  width: 341px;
  height: 202px;
  background: url(img2/s6.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
}
.screenshot-oh-6 {
  position: relative;
  width: 340px;
  height: 202px;
  margin: 22px 0 0 193px;
  background: url(img2/S7.png)
    no-repeat center;
  background-size: cover;
  z-index: 52;
}
.unity-3d-design {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 175px;
  height: 29px;
  margin: 121px 0 0 192px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 28.96px;
  text-align: center;
  white-space: nowrap;
  z-index: 45;
}
.screenshot-oh-7 {
  position: relative;
  width: 340px;
  height: 202px;
  margin: 2px 0 0 193px;
  background: url(img2/s8.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
}
.rectangle-8 {
  position: absolute;
  width: 1920px;
  height: 0.2px;
  top: 163px;
  left: 0;
  background: rgba(217, 217, 217, 0.46);
  z-index: 22;
}
.about-me-9 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 19px;
  height: 65px;
  top: 346px;
  left: 169px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.824px;
  text-align: center;
  transform: rotate(-90deg);
}
.rectangle-a {
  position: absolute;
  width: 1920px;
  height: 0.4px;
  top: 1253.6px;
  left: 0;
  background: rgba(217, 217, 217, 0.46);
  z-index: 23;
}
.contents-b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 19px;
  height: 67px;
  top: 1413px;
  left: 169px;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.824px;
  text-align: center;
  transform: rotate(-90deg);
  z-index: 1;
}
.x {
  position: absolute;
  width: 1369px;
  height: 2446px;
  top: 2001px;
  left: 551px;
  background: url(img2/jiwook.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
}
.fin {
  position: absolute;
  width: 340px;
  height: 202px;
  top: 514px;
  left: 540px;
  background: url(img2/s10.png)
    no-repeat center;
  background-size: cover;
  z-index: 53;
}
.screenshot {
  position: absolute;
  width: 340px;
  height: 202px;
  top: 514px;
  left: 180px;
  background: url(img2/s9.png)
    no-repeat center;
  background-size: cover;
  z-index: 55;
}
.rectangle-c {
  position: absolute;
  width: 1920px;
  height: 81px;
  top: 3302px;
  left: 0;
  background: rgba(78, 78, 78, 0.36);
  z-index: 56;
}
.jiwook-d {
  position: relative;
  width: 91px;
  height: 37px;
  margin: 11px 0 0 370px;
  background: url(img2/jiwook.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
}
.auto-layer-column-b {
  position: absolute;
  width: 122px;
  height: 31px;
  top: 48px;
  left: 490px;
  font-size: 0px;
  z-index: 59;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 82px;
  height: 17px;
  margin: 0 0 0 0;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 12px;
  font-weight: 350;
  line-height: 17px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.12px;
  z-index: 59;
}
.all-rights-reserved {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 122px;
  height: 17px;
  margin: -3px 0 0 0;
  font-family: Noto Sans KR, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 12px;
  font-weight: 350;
  line-height: 17px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -0.12px;
  z-index: 58;
}
.pngwing {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 54px;
  left: 1500px;
  background: url(img2/pngwing.com\ \(5\).png)
    no-repeat center;
  background-size: cover;
  z-index: 61;
}
.dff {
  position: absolute;
  width: 22px;
  height: 21px;
  top: 56px;
  left: 1528px;
  background: url(img2/pngwing.com\ \(6\).png)
    no-repeat center;
  background-size: cover;
  z-index: 60;
}
