body{
/* Frame 1 */

position: relative;
width: 1920px;
height: 6990px;

background: rgb(245, 179, 135);

/* Rectangle 2 */

position: absolute;
width: 1420px;
height: 1174px;
left: 250px;
top: 150px;

background: rgb(217, 217, 217);

/* Rectangle 3 */

position: absolute;
width: 1920px;
height: 5722px;
left: 0px;
top: 204px;

background: rgb(255, 255, 255);

/* matthieu-rochette-BXwjbctH6R0-unsplash 1 */

position: absolute;
width: 2062px;
height: 1160px;
left: -71px;
top: 0px;

background: url(matthieu-rochette-BXwjbctH6R0-unsplash.jpg);

/* Rectangle 4 */

position: absolute;
width: 1180px;
height: 61px;
left: 370px;
top: 310px;

background: rgba(255, 255, 255, 0.6);

/* Rectangle 8 */

position: absolute;
width: 1920px;
height: 777px;
left: 0px;
top: 1160px;

background: rgb(249, 250, 251);

/* Text */

position: absolute;
width: 0px;
height: 20px;
left: 1210px;
top: 30px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 350;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */
display: flex;
align-items: center;

color: rgb(0, 0, 0);

/* 어떤 방을 찾으세요? */

position: absolute;
width: 283px;
height: 20px;
left: 370px;
top: 194px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 20px;
/* identical to box height, or 59% */
display: flex;
align-items: center;

color: rgb(0, 0, 0);

/* 매물 분양 */

position: absolute;
width: 73px;
height: 20px;
left: 370px;
top: 276px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: rgb(0, 0, 0);

/* 찾고자 하는 건물을 검색하세요. */

position: absolute;
width: 233px;
height: 20px;
left: 443px;
top: 328px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */
display: flex;
align-items: center;

color: rgb(171, 171, 171);

/* 내가 찾고자 하는 가우디 건물을 한 곳에서 확인해 보세요. 허위매물 없는 엄선된 정보들만 취급 가우디 팔라시오와 함께해요. */

position: absolute;
width: 835px;
height: 71px;
left: 543px;
top: 1497px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 20px;
/* or 59% */
display: flex;
align-items: flex-end;
text-align: center;

color: rgb(0, 0, 0);

/* Group 2 */

position: absolute;
width: 1842px;
height: 2201.75px;
left: 370px;
top: 769.25px;

/* AI 추천 바르셀로나 매물 */

position: absolute;
width: 337px;
height: 20px;
left: 370px;
top: 2154px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 600;
font-size: 34px;
line-height: 20px;
/* identical to box height, or 59% */
display: flex;
align-items: center;

color: rgb(0, 0, 0);

/* 바르셀로나 ㅣ 월세 무제한ㅣ 전세 무제한 검색 조건으로 추천된 매물입니다. */

position: absolute;
width: 420px;
height: 20px;
left: 370px;
top: 2196px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: -0.01em;

color: rgb(50, 108, 249);

/* 사그라다 파밀리아 대성당 */

position: absolute;
width: 127px;
height: 20px;
left: 370px;
top: 2779px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
display: flex;
align-items: center;

color: rgb(75, 75, 75);

/* 카사 바트요 */

position: absolute;
width: 58px;
height: 20px;
left: 730px;
top: 2779px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
display: flex;
align-items: center;

color: rgb(75, 75, 75);

/* 카사 비센스 */

position: absolute;
width: 58px;
height: 20px;
left: 1091px;
top: 2779px;

font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

}